body {
  height: 100%;
  background-color: black;
}

.top {
  background-color: black;
  color: white;
  /*margin-left: 35%;
  margin-right: 35%;*/
  float: left;
}
.figure {
  color: white;
  padding: 10em;
  border: blue solid 1em;
  font-size: 1.2em;
}
canvas {
  color: white;
}
.scaffold-top {
  width:6em;
  height:.5em;
  background: white;
}
.scaffold-left {
  width: .5em;
  height: 15em;
  background: white;
}
.scaffold-base {
  width: 10em;
  height: .5em;
  background: sienna;
}

.middle {
  float: none;
}
#prompt {
  margin-left: 40%;
  color: white;
  font-size: 5em;
  text-align: left;
}

.wrongBox {
  font-size: 3em;
  text-align: left;
  padding: 1em;
  color: red;
  margin-left: 40%;
  /*margin-right: 45%;*/
  /*float: right;
  position: relative;*/

}

.bottom {
  float: none;
  position: relative;
}
input[type="text"] {
  font-size: 1.5em;
  /*margin-top: 2%;*/
  margin-left: 10%;
  border: .25em solid blue;
  color: blue;
  text-align: center;
}
